::-webkit-scrollbar{width:6px;height:6px;background-color:transparent;}
::-webkit-scrollbar-track-piece{}
::-webkit-scrollbar-thumb{background-color:#999;background-color:rgba(0,0,0,0.4);-webkit-border-radius:3px;border-radius:3px;}
::-webkit-scrollbar-thumb:hover{background-color:#808080;background-color:rgba(0,0,0,0.5);}
/* reset */
html,body{height:100%;}
body{font-family:"Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;}
/* layout */
#container{min-width:960px;min-height:100%;height:auto!important;height:100%;position:relative;}

.content{
	position: absolute;
	top: 53px;
	bottom: 0;
	left: 0;
	right: 0;
	
}
.content-left,.content-right{
	position: absolute;
	top: 0;
	bottom: 0;
}
.content-left{
	width: 220px;
	background-color: #2E363F;
}
.content-right{
	right: 0;
	left: 220px;
	background-color: #269ABC;
}
